$tablet: 500px;
.boat {
	@include breakpoint($tablet) {
		.table {
			text-align:center;
			td {
				vertical-align:middle;
			}
		}
		.sm-view {
			display:none;
		}
	}
	@include breakpoint(0 $tablet) {
		.table {
			display:none;
		}
		.sm-view {
			display:block;
			.boat_card {
				border: 1px solid rgba(25,25,25,0.2);
				border-radius: 4%;
				padding: 15px;
				margin-bottom: 25px;
				.index {
					background: rgb(25, 25, 25);
					color: white;
					padding: 5px;
					border-top-left-radius: 4%;
					border-top-right-radius: 4%;
					text-align: center;
					margin-bottom:10px;
				}
			
			}
		}	
	}
	.icon {
		width:25px;
		height:25px;
		object-fit: cover;
		display: block;
		background-repeat: no-repeat;
		position:relative;
		margin-left:auto;
		margin-right:auto;
	}
	.check {
		background-image: url('https://www.antsand.ca/uploads/02d0edcfc1bd97173e2cafe04d026c4e/cf9f749cd936116f8b15ad8d1dbd79a2.svg');
	}
	.cross {
		background-image: url('https://www.antsand.ca/uploads/02d0edcfc1bd97173e2cafe04d026c4e/f71a0b94bb622a207d2d5aaa4d369c79.svg');
	}
	
	.pad15 {
		margin:15px 0px;
	}
	.align-left {
		text-align:left;
	}
}
